body{
    background-color: #444;
    font-family: "Helvetica", serif;
    font-size: 24pt;
    text-align: center;
}

ul{
    list-style: none;
}

#root{
}

.crit-fail * {
}

li {
    color: lightgrey;
}